 @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Fira+Sans+Extra+Condensed:ital,wght@1,700&family=Philosopher:wght@700&display=swap");

body{
    background-color: #fff5da;
    font-family: "Noto sans TC", sans-serif;
    letter-spacing: 1px;
    color: #333;
    line-height: 1.4;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

a{
    text-decoration: none;
    color: #000;
}

h1{
    text-align: center;
}

.wrapper-content {
box-sizing: border-box;
/* width: 1024px; */
}

.header-content {
background-color: #fff5da;
height: 70px;
padding-left: 30px;
padding-right: 30px;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-nav {
width: 330px;
display: flex;
justify-content: space-between;
}

.logo{
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-size: 24px;
    color: #000;
    text-decoration: underline;
}

.nav__text{
    letter-spacing: 3px;
}

.link__text:hover{
    transition: all 0.2s; /*轉場效果 */
    color: #FFB500;
}

.primary-content{
    background-color: #fff5da;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper-primary-text{
    width: 100%;
}

.primary__main-img{
    width: 60%;
    height: 100%;
}

.section__title {
    font-family: "Philosopher";
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    line-height: 1.2;
  }
  
.primary__title {
font-size: 72px;
margin-bottom: 20px;
}

.primary__title > span {
color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.primary__text {
margin-bottom: 25px;
}

.link-button {
display: inline-block;
background-color: #000;
border-radius: 3px;
padding: 10px 20px;
color: white;
letter-spacing: 2px;
}

.primary__link-button {
margin-bottom: 40px;
}

.link-button:hover {
background-color: #ffb500;
transition: all 0.2s;
}

.primary__social {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.container {
    border-radius: 5px;
    background-color: #3D7878;
    color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
    width: 1200px; 
    margin:0 auto;

}

.box{
    width: auto;
    /* border: 1px solid; */
    margin: auto;
    height: auto;
    padding: 20px ;
    

  }

.content{
width: 500px;
background: #B8B8DC;
margin: auto;
border-radius: 10px;
opacity: 0.9;
}

.word{
    height: 100px;
    outline:1px solid;
    text-align:center;
    line-height:100px;
    font-size: 20px;
    
  }


